{
  "presets": [
    "@babel/react",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
     "@babel/plugin-transform-runtime",
     [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
     ],
     "@babel/plugin-syntax-dynamic-import"
     
    ]
}
